.banner {
  text-align: center;
  margin: 2rem 1rem 0;
  border-radius: 1rem;
  position: relative;
  // background: radial-gradient(circle at 90% 8.02%, #7e75ff, transparent 67%),
  //   radial-gradient(circle at 52.01% 43.04%, #73ffab, transparent 61%),
  //   radial-gradient(circle at 9.03% 17.44%, #ffff4a, transparent 58%),
  //   radial-gradient(circle at 4.03% 90.01%, #ff94fb, transparent 67%),
  //   radial-gradient(circle at 92.99% 91.98%, #ff722b, transparent 61%),
  //   radial-gradient(circle at 50% 50%, #fff, #fff 100%);
  transition: 0.3s ease-in;
  background: url("/images/holographic-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 1rem;
    background-image: linear-gradient(
      115deg,
      transparent 0%,
      rgb(0, 231, 255) 30%,
      rgb(255, 0, 231) 70%,
      transparent 100%
    );
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: 300% 300%;
    mix-blend-mode: color-dodge;
    opacity: 0.2;
    z-index: 1;
    animation: holoGradient 15s ease infinite;
  }

  &::after {
    background-image: url("/images/sparkles.gif");
    background-position: center;
    background-size: 180%;
    mix-blend-mode: color-dodge;
    opacity: 1;
    z-index: 2;
    animation: holoSparkle 10s ease infinite;
  }
}

@keyframes holoSparkle {
  0%,
  5% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes holoGradient {
  0%,
  100% {
    opacity: 0;
    background-position: 0% 0%;
  }
  8% {
    opacity: 0;
  }
  10% {
    background-position: 0% 0%;
  }
  19% {
    background-position: 100% 100%;
    opacity: 0.5;
  }
  35% {
    background-position: 100% 100%;
  }
  55% {
    background-position: 0% 0%;
    opacity: 0.3;
  }
  75% {
    opacity: 0;
  }
}
