html,
body,
#__next {
  height: 100%;
}

.app-wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.active {
  color: var(--success);
  font-weight: bold;
}

.mdx-prose {
  .code-block {
    font-size: 14px;
    overflow: scroll;
    font-family: "SF Mono", Menlo, monospace;
    word-wrap: normal;
    padding-left: 1rem;
    white-space: pre;
  }
}
